header {
  display: flex;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  height: calc(100vh - 150px);
}
.grid-container .grid-left {
  position: relative;
  display: grid;
  grid-template-rows: 30px 1fr;
  width: 100%;
  border: 2px solid black;
}
.grid-container .grid-left header {
  display: flex;
  justify-content: space-between;
}
.grid-container .grid-left header div button {
  margin-left: 0 20px;
  margin-right: 5px;
}
.grid-container .grid-left .img-container {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.grid-container .grid-left .img-container img {
  width: 80%;
  object-fit: cover;
}
.grid-container .grid-right {
  display: grid;
  grid-template-rows: 30px 1fr;
  position: relative;
  width: 100%;
  border: 2px solid black;
}
.grid-container .grid-right .container {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.grid-container .grid-right .container svg {
  width: 80%;
}
